<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="./css/estylo.css">
    </head>
    <body>
        <div class="login" >
            <h1>Login</h1>
            <form method="POST" action="/login">
                <input type="text" name="correo" placeholder="Correo" required="required"  />
                <input type="password" name="contrasena" placeholder="Contraseña" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesion</button>
            </form>
        </div>
    </body>
</html>